.habits-calendar .fc-theme-standard .fc-scrollgrid,
.habits-calendar .fc-theme-standard td,
.habits-calendar .fc-theme-standard th {
  border-color: var(--color-neutral-200);
}

.habits-calendar {
  --ht-shadow-color: color-mix(in oklab, color-mix(in oklab, var(--color-green-200) 50%, transparent) var(--tw-shadow-alpha), transparent);
  --ht-shadow: 0 10px 15px -3px var(--ht-shadow-color, rgba(0, 0, 0, .1)), 0 4px 6px -4px var(--ht-shadow-color, rgba(0, 0, 0, .1));
}

.habits-calendar .fc .fc-toolbar.fc-header-toolbar {
  margin-top:-4px;
  margin-bottom:20px;
}

.habits-calendar .fc-theme-standard .fc-scrollgrid {
  border-radius: var(--radius-lg);
  overflow:hidden;
  background-color:#fff;
  /* box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--ht-shadow); */
}

.habits-calendar .fc .fc-daygrid-day-number {
  flex-grow:1;
  text-align:center;
}

.habits-calendar .fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
  height:calc(100% - 32px);
}

.habits-calendar .fc .fc-daygrid-day-bottom {
  position:absolute;
  left:4px;
  right:4px;
  margin:0;
}

.habits-calendar .fc .fc-toolbar-title {
  font-family: var(--font-monda);
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
  font-weight: var(--font-weight-bold);
}

.habits-calendar .fc .fc-daygrid-day.fc-day-today {
  background-color:var(--color-green-50);
}

.habits-calendar .fc .fc-button {
  border-radius:8px;
  padding:0 16px;
  height:38px;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  gap:8px;
  font-size:1rem;
}

.habits-calendar .fc .fc-button.fc-addEvent-button {
  background-color:var(--color-green-200);
  border-color:var(--color-green-200);
  color:black;
  box-shadow:var(--ht-shadow);
}

.habits-calendar .fc-direction-ltr .fc-button-group > .fc-button {
  padding:0 8px;
}

.habits-calendar .fc-daygrid-event {
  font-size:.8rem;
}

@media screen and (max-width: 767px) {
  .habits-calendar .fc .fc-daygrid-day-number {
    font-size: .875rem;
  }
}

@media screen and (min-width: 600px) {
  .habits-calendar .fc .fc-daygrid-day-bottom {
    bottom:4px;
  }
  .habits-calendar .fc .fc-daygrid-more-link {
    width:100%;
    text-align:center;
    font-size:.75rem;
    background-color:var(--color-stone-200);
  }
  .habits-calendar .fc .fc-daygrid-more-link:hover {
    background-color:var(--color-stone-300);
  }
}

@media screen and (max-width: 599px) {
  .habits-calendar .fc .fc-daygrid-day-bottom {
    top:50%;
    transform:translateY(-50%);
  }
  .habits-calendar .fc .fc-daygrid-more-link {
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:var(--color-green-200);
    text-align:center;
    line-height:20px;
  }
}