.habits-calendar .fc-theme-standard .fc-scrollgrid,
.habits-calendar .fc-theme-standard td,
.habits-calendar .fc-theme-standard th {
  border-color: var(--color-neutral-200);
}

.habits-calendar {
  --ht-shadow-color: color-mix(in oklab, color-mix(in oklab, var(--color-green-200) 50%, transparent) var(--tw-shadow-alpha), transparent);
  --ht-shadow: 0 10px 15px -3px var(--ht-shadow-color, rgba(0, 0, 0, .1)), 0 4px 6px -4px var(--ht-shadow-color, rgba(0, 0, 0, .1));
}

.habits-calendar .fc .fc-toolbar.fc-header-toolbar {
  margin-bottom:0;
  padding-bottom:24px;
}

.habits-calendar .fc-theme-standard .fc-scrollgrid {
  border-radius: var(--radius-lg);
  overflow:hidden;
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--ht-shadow);
}

.habits-calendar .fc .fc-daygrid-day-number {
  flex-grow:1;
  text-align:center;
}

.habits-calendar .fc .fc-toolbar-title {
  font-family: var(--font-monda);
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
  font-weight: var(--font-weight-bold);
}