@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#C2EABD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-primary {
  background-color:var(--primary);
  color:var(--foreground);
}

.outline-glass {
  border-style: solid;
  border-width: 0 0 1px 1px;
  border-color:rgba(0,0,0,.08);
}

.font-monda {
  font-family:var(--font-monda);
}

.gradient-primary {
  background: linear-gradient(200deg, rgba(255,255,255, 1.000) 0.000%, rgba(255,255,255, 1.000) 16.667%, rgba(255,255,255, 1.000) 33.333%, rgba(255,255,255, 1.000) 50.000%, rgba(255,255,255, 1.000) 66.667%, rgba(255,255,255, 1.000) 83.333%, #C2EABD 100.000%);
}